<a
    role="button"
    target="_blank"
    (mouseenter)="hovered = true"
    (mouseleave)="hovered = false"
    [href]="experience.link"
    [ngClass]="{'opacity-60': hovered}"
    *ngFor="let experience of WORK_EXPERIENCES"
    class="grid items-start my-4 rounded-md md:p-5 md:grid-cols-4 gap-x-5 md:hover:opacity-100 md:hover:bg-black/20 md:hover:shadow-2xl shadow-white/50 md:hover:glass-effect"
>
    <div
        class="flex items-center mt-5 mb-1 text-sm text-sub-headline-text md:text-base"
    >
        <div>{{ experience.dates[0] }}</div>
        <div class="w-[20px] border-b border-sub-headline-text mx-2"></div>
        <div>{{ experience.dates[1] }}</div>
    </div>

    <div class="col-span-3">
        <div
            class="font-medium leading-loose text-white md:text-lg md:my-4 md:text-brand-yellow"
        >
            {{ experience.position }} in
            <div class="text-white md:font-bold md:text-brand-red">
                {{ experience.company }}
            </div>
        </div>

        <div class="mt-2 text-sub-headline-text md:text-md">
            {{ experience.designation }}
        </div>

        <div class="mt-4 text-sm font-light leading-normal text-secondary-text">
            {{ experience.description }}
        </div>

        <div class="inline-block w-full mt-4">
            <div class="flex flex-wrap -mx-1">
                <div
                    class="md:h-[35px] px-3 py-1 mr-4 md:mr-0 md:mx-2 my-2 text-sm rounded-full text-purple-300 flex items-center text-center bg-brand-purple/10"
                    *ngFor="let badge of experience.badges"
                >
                    {{ badge }}
                </div>
            </div>
        </div>
    </div>
</a>
