<div class="w-full max-w-screen-sm mx-auto mb-20 text-center lg:mt-20">
    <div class="mb-2 text-brand-red">What’s Next?</div>
    <div class="mb-3 text-2xl font-bold text-slate-200 lg:text-6xl">
        Get In Touch
    </div>

    <div class="text-sm leading-loose text-secondary-text">
        I'm constantly seeking new and challenging opportunities to further
        enhance my skills and contribute to impactful projects. I'm always open
        to exciting prospects that align with my goals and interests. If you
        have an opportunity or if you simply want to say hello, please feel free
        to reach out. I will make it a priority to respond as soon as possible.
        Thank you for considering me, and I look forward to connecting with you
    </div>
    <br />
    <br />
    <br />
    <a
        target="_blank"
        href="mailto:jamelyassin84@gmail.com"
        class="px-10 py-5 mt-8 border rounded-md text-brand-teal border-brand-teal/70 lg:hover:bg-brand-teal lg:hover:text-black"
    >
        Say Hello
    </a>
</div>
