<div class="text-center w-full max-w-screen-sm mx-auto mt-20">
    <div class="mb-2 text-brand-red">What’s Next?</div>
    <div class="font-bold text-6xl text-white mb-3">Get In Touch</div>

    <div class="text-secondary-text text-sm">
        I'm constantly seeking new and challenging opportunities to further
        enhance my skills and contribute to impactful projects. I'm always open
        to exciting prospects that align with my goals and interests. If you
        have an opportunity or if you simply want to say hello, please feel free
        to reach out. I will make it a priority to respond as soon as possible.
        Thank you for considering me, and I look forward to connecting with you
    </div>
    <br />
    <br />
    <br />
    <a
        target="_blank"
        href="mailto:jamelyassin84@gmail.com"
        class="px-10 py-5 rounded-md mt-8 text-brand-purple border-brand-purple/70 border md:hover:bg-brand-purple md:hover:text-black"
    >
        Say Hello
    </a>
</div>
