<div class="grid lg:grid-cols-2">
    <sidebar class="pl-4" />

    <div class="w-full max-w-screen-sm pl-4 mr-auto lg:p-10">
        <about />
        <br id="div_workExperiences" />
        <div class="lg:px-5">
            <div
                class="mt-10 -mb-4 text-sm font-bold tracking-widest uppercase text-slate-200 lg:sr-only"
            >
                Work Experiences
            </div>
            <work-experiences />
        </div>

        <br id="div_projectsAndMore" />

        <div class="grid grid-cols-2 gap-4 lg:mt-20 lg:px-10">
            <button
                (click)="download(button)"
                [routerLink]="button.link"
                class="text-slate-200 rounded-md h-[65px] lg:text-base text-xs w-full font-medium bg-transparent border border-slate-200/20 lg:hover:bg-black/60 lg:hover:text-brand-teal"
                *ngFor="let button of BUTTONS"
            >
                {{ button.title }}
            </button>
        </div>

        <div
            class="max-w-md pb-16 mt-10 text-sm sm:pb-0 lg:p-10 text-sub-headline-text lg:mt-0"
        >
            Loosely designed in
            <a
                target="_blank"
                href="https://www.figma.com/blog/figma-on-figma-how-we-built-figma-dot-coms-design-system/"
                class="text-slate-200 hover:text-brand-teal"
                >Figma</a
            >
            and coded in

            <a
                target="_blank"
                href="https://code.visualstudio.com/"
                class="text-slate-200 hover:text-brand-teal"
                >Visual Studio Code</a
            >
            by yours truly. Built with
            <a
                target="_blank"
                href="https://angular.io/"
                class="text-slate-200 hover:text-brand-teal"
                >Angular 16</a
            >
            and
            <a
                target="_blank"
                href="https://tailwindcss.com/docs/guides/angular"
                class="text-slate-200 hover:text-brand-teal"
                >Tailwind CSS</a
            >, deployed in
            <a
                target="_blank"
                href="https://github.com/"
                class="text-slate-200 hover:text-brand-teal"
                >Github</a
            >
            . All text is set in the Default System typeface.
        </div>

        <whats-next />
    </div>
</div>
