<div class="grid md:grid-cols-2">
    <sidebar />

    <div class="w-full max-w-screen-sm mr-auto md:p-10">
        <about />

        <div class="md:px-5">
            <div
                class="mt-10 -mb-4 text-sm font-bold tracking-widest uppercase text-slate-200 lg:sr-only"
            >
                Work Experiences
            </div>
            <work-experiences />
        </div>

        <div class="grid grid-cols-2 gap-4 md:mt-20 md:px-10">
            <button
                [routerLink]="button.link"
                class="text-slate-200 rounded-md h-[65px] md:text-base text-xs w-full font-medium bg-black md:bg-sidebar-bg md:hover:bg-black md:hover:text-brand-yellow"
                *ngFor="let button of BUTTONS"
            >
                {{ button.title }}
            </button>
        </div>

        <div
            class="max-w-md pb-16 mt-10 text-sm sm:pb-0 md:p-10 text-sub-headline-text md:mt-0"
        >
            Loosely designed in
            <a
                target="_blank"
                href="https://www.figma.com/blog/figma-on-figma-how-we-built-figma-dot-coms-design-system/"
                class="text-brand-blue hover:text-sky-500"
                >Figma</a
            >
            and coded in

            <a
                target="_blank"
                href="https://code.visualstudio.com/"
                class="text-brand-blue hover:text-sky-500"
                >Visual Studio Code</a
            >
            by yours truly. Built with
            <a
                target="_blank"
                href="https://angular.io/"
                class="text-brand-blue hover:text-sky-500"
                >Angular 16</a
            >
            and
            <a
                target="_blank"
                href="https://tailwindcss.com/docs/guides/angular"
                class="text-brand-blue hover:text-sky-500"
                >Tailwind CSS</a
            >, deployed in
            <a
                target="_blank"
                href="https://github.com/"
                class="text-brand-blue hover:text-sky-500"
                >Github</a
            >
            . All text is set in the Default System typeface.
        </div>

        <whats-next />
    </div>
</div>
