<div class="flex w-full min-h-screen" flashLight>
    <div class="w-full max-w-screen-lg py-20 mx-auto">
        <div
            role="button"
            routerLink="/"
            class="flex items-center font-bold text-brand-yellow md:hover:text-yellow-500"
        >
            <i class="mr-4 bi bi-arrow-left"></i>
            Jamel Yassin
        </div>
        <div class="text-5xl font-bold text-brand-blue">Technologies Used</div>
        <div class="inline-block w-full col-span-2 mt-4">
            <div class="inline-block mt-4">
                <div class="flex flex-wrap -mx-1">
                    <div
                        class="h-[35px] px-4 py-1 mx-2 my-2 text-sm rounded-full text-brand-purple flex items-center text-center bg-brand-purple/20"
                        *ngFor="let badge of TECHNOLOGIES_USED"
                    >
                        {{ badge }}
                    </div>
                </div>
            </div>
        </div>

        <whats-next />
    </div>
</div>
