.transition1 {
    transition-property: width, border-color; /* Specify the properties to transition */
    transition-duration: 1.4s; /* Specify the duration of the transition */
    transition-timing-function: ease-in; /* Specify the timing function for the transition */
}
