<div class="flex lg:fixed lg:w-1/2 lg:h-screen">
    <div class="w-full max-w-screen-sm py-10 lg:pr-10 lg:ml-auto">
        <div></div>

        <div class="flex items-center mt-4 lg:my-10">
            <div></div>

            <div>
                <div
                    class="text-4xl font-bold tracking-tight text-brand-yellow sm:text-5xl"
                >
                    Jamel Yassin
                </div>
                <div
                    class="m-1 mt-3 text-lg font-medium tracking-tight text-brand-red sm:text-xl"
                >
                    Lead Angualar Developer
                </div>

                <div
                    class="pr-20 my-5 font-light lg:my-10 lg:text-5xl text-secondary-text md:text-lg"
                >
                    I empower businesses with powerful, personalized products
                    and deliver blazingly fast, innovative digital experiences.
                </div>
            </div>
        </div>

        <div class="hidden mb-20 text-slate-500 lg:block">
            <div
                role="button"
                (click)="scrollToDiv(nav.div)"
                [ngClass]="{
                    'text-brand-purple pointer-events-none transition-all':
                        currentMenu === nav.title
                }"
                class="flex items-center my-3 font-bold tracking-widest uppercase transition-all transition1"
                *ngFor="let nav of NAVIGATION"
            >
                <div
                    [ngClass]="{
                        'w-[50px] transition-all': currentMenu !== nav.title,
                        'border-brand-purple transition-all':
                            currentMenu === nav.title
                    }"
                    class="w-[100px] border-b border-slate-500 mr-2 transition1 transition-all"
                ></div>
                {{ nav.title }}
            </div>
        </div>

        <ul
            class="flex w-full xl:space-x-4 xl:mt-8 xl:scale-75 xl:justify-center xl:items-center xl:mx-auto xl:-ml-8 xl:w-auto xl:absolute lg:bottom-40"
        >
            <a
                class="origin-left scale-75"
                target="_blank"
                href="https://www.facebook.com/jamel.bayoneta/"
            >
                <img src="../../../assets/app/facebook.svg" alt="" />
            </a>

            <a
                class="origin-left scale-75"
                target="_blank"
                href="https://www.instagram.com/godjaaamit/"
            >
                <img src="../../../assets/app/instagram.svg" alt="" />
            </a>

            <a
                class="origin-left scale-75"
                target="_blank"
                href="https://github.com/jamelyassin84"
            >
                <img src="../../../assets/app/github.svg" alt="" />
            </a>

            <a
                class="origin-left scale-75"
                target="_blank"
                href="https://www.linkedin.com/in/jamel-eid-yassin-3439b6194/"
            >
                <img src="../../../assets/app/linked-in.svg" alt="" />
            </a>

            <a
                class="origin-left scale-75"
                target="_blank"
                href="mailto:jamelyassin84@gmail.com"
            >
                <img src="../../../assets/app/mail.svg" alt="" />
            </a>

            <a
                class="origin-left scale-75"
                target="_blank"
                href="https://wa.me/+971529400791"
            >
                <img src="../../../assets/app/phone.svg" alt="" />
            </a>
        </ul>
    </div>
</div>
