<div
    [ngClass]="{'h-[30vh]': seeMore}"
    class="p-10 overflow-hidden text-sub-headline-text"
>
    Back in 2016, I took a leap into the world of software development with a
    mission to help students in their programming journey using Visual Studio C#
    and Netbeans. Little did I know that this decision would lead me on an
    exciting adventure, diving headfirst into a world of endless possibilities.

    <br />
    <br />

    As time went by, I had the incredible opportunity to build software for all
    kinds of businesses. From
    <a
        target="_blank"
        href="https://www.ngcards.com/"
        class="text-brand-blue hover:text-sky-500"
        >startups</a
    >
    and
    <a
        target="_blank"
        href="https://www.thedungeon.ae/home"
        class="text-brand-blue hover:text-sky-500"
        >gyms</a
    >
    to

    <a
        target="_blank"
        href="https://iifym.ae/landing/home"
        class="text-brand-blue hover:text-sky-500"
        >catering stores</a
    >,
    <a
        target="_blank"
        href="https://thahabamaal.ae/#/home"
        class="text-brand-blue hover:text-sky-500"
        >jewelry services</a
    >,
    <a
        target="_blank"
        href="https://www.nadena.ae/"
        class="text-brand-blue hover:text-sky-500"
        >fitness & wellness centers</a
    >,
    <a
        target="_blank"
        href="https://practical.ae/"
        class="text-brand-blue hover:text-sky-500"
        >e-commerce platforms</a
    >, and even <span class="text-brand-yellow"> enterprise-grade </span>

    <a
        target="_blank"
        href="https://www.mawedy.ae/"
        class="text-brand-blue hover:text-sky-500"
        >hospital</a
    >, and
    <a
        target="_blank"
        href="https://ngmenu.com/"
        class="text-brand-blue hover:text-sky-500"
        >restaurant</a
    >, management systems. Let me tell you, it's been quite a thrilling ride!

    <br />
    <br />
    These days, my main focus is on building
    <span class="text-brand-blue">powerful products</span> and
    <span class="text-brand-blue">leading projects</span>
    for businesses that crave secure, fast, reliable, and user-friendly software
    services. I thrive on delivering solutions that not only meet but exceed
    expectations, making a real impact in the process. But hey, life isn't just
    about coding! When I'm not diving deep into lines of code, you can find me
    devoting 2-4 hours of my free time to studying new technologies or enjoying
    random videos from
    <a target="_blank" href="https://fireship.io/" class="text-brand-blue">
        fireship.io.</a
    >
    And when I feel the need to take a break and clear my mind, I indulge in a
    few rounds of
    <a
        target="_blank"
        href="https://www.dota2.com/home"
        class="text-brand-purple hover:text-purple-500"
        >Dota 2</a
    >
    , a game that never fails to recharge my batteries.

    <br />
    <br />
    Of course, balance is key. So, when I'm not glued to my computer screen, I
    make sure to spend quality time with my loved ones. Whether it's creating
    precious memories with my family, embarking on exciting adventures with my
    girlfriend, or simply hanging out and having a good time with friends, those
    moments of connection and joy truly fuel my passion.

    <br />
    <br />
    That's just a glimpse into my journey so far, and let me tell you, I can't
    wait to see what exciting projects and experiences lie ahead.

    <br />
    <br />
    Oh, and before I forget to mention, in addition to my professional work,
    I've also had the pleasure of building over
    <span class="text-brand-blue"> 40 pro bono projects </span>
    for
    <span class="text-brand-blue">bachelor's,</span>
    <span class="text-brand-blue">master's</span> and even
    <span class="text-brand-blue">phD programs</span>. Being able to contribute
    to the education of students by providing practical projects has been an
    incredibly rewarding experience.

    <br />
    <br />
    These pro bono projects have spanned various domains, from educational
    platforms to community-focused applications and social impact initiatives.
    It's my way of giving back to the programming community and inspiring
    aspiring developers on their academic path.

    <br />
    <br />
    So, as I continue on my journey, I eagerly look forward to embracing new
    challenges, crafting remarkable software solutions, and making a positive
    difference in the lives of clients, students, and the broader community.
    Cheers to the exciting times ahead!
</div>

<div
    role="button"
    (click)="seeMore = !seeMore"
    [ngClass]="{'mt-8': seeMore}"
    class="flex items-center mx-10 text-white md:hover:underline"
>
    {{ seeMore ? 'See More' : 'See Less' }}

    <i
        [ngClass]="{'bi-chevron-down': seeMore, 'bi-chevron-up': !seeMore}"
        class="ml-2 text-white bi"
    ></i>
</div>
