<div class="flex w-full min-h-screen" flashLight>
    <div class="w-full max-w-screen-lg py-20 mx-auto">
        <div
            role="button"
            routerLink="/"
            class="flex items-center font-bold text-brand-yellow lg:hover:text-yellow-500"
        >
            <i class="mr-4 bi bi-arrow-left"></i>
            Jamel Yassin
        </div>
        <div class="text-3xl font-bold lg:text-5xl text-slate-200">
            Freelance and Pro bono Projects
        </div>

        <table class="w-full mt-8 text-left text-secondary-text">
            <thead>
                <tr class="text-slate-200 h-[50px]">
                    <th>Year</th>
                    <th>Project</th>
                    <th class="hidden lg:table-cell">Techs</th>
                    <th class="hidden lg:table-cell">Link</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    class="h-20 align-middle border-t border-t-secondary-text/20"
                    *ngFor="let project of FREE_LANCES"
                >
                    <td class="pr-10">{{ project.year }}</td>
                    <td class="pr-4 font-semibold leading-snug text-slate-200">
                        {{ project.title }}
                    </td>
                    <td class="hidden pr-4 lg:table-cell">
                        <div class="w-full inline-table-cell">
                            <div class="inline-table-cell">
                                <div class="flex flex-wrap items-start -mx-1">
                                    <div
                                        class="lg:h-[35px] px-3 py-1 mr-4 lg:mr-0 lg:mx-2 my-2 text-sm rounded-full text-brand-teal flex items-center text-center bg-brand-teal/10"
                                        *ngFor="let badge of project.badges"
                                    >
                                        {{ badge }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="hidden lg:table-cell">
                        <a
                            class="lg:hover:text-brand-yellow lg:hover:underline"
                            target="_blank"
                            href="{{ project.link ?? project.description }}"
                            >{{ project.link ?? project.description }}</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <whats-next />
    </div>
</div>
